*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "...... juego  ......"
    "...... .....  cheat"
    ;
}


.titulo {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 40px 64px;
}

.h1-principal { 
    font-size: 4rem;
}

.subtitulo {
    font-size: 3rem;
    text-wrap: balance;
}

.grid {
    grid-area: juego;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 32px;
    margin-inline: auto;
    justify-content: center;
}

.contenedor-card {
    min-width: 200px;
    height: 200px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front img {
    width: 200px;
    height: 200px;
    object-fit:fill;
    scale: 1.5;
}

.back img {
    width: 200px;
    height: 200px;
    object-fit: fit;
    scale: .8
}

.contenedor-card:active .card {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
    transition-duration: 2s;
}

.front,
.back {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: solid rgb(101, 101, 101);
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg) rotateZ(180deg);
}

.cheat {
    grid-area: cheat;
    margin: 32px;
    opacity: 0;
}

.cheat p {
    font-family: Pixelify Sans;
}

.cheat:hover {
    opacity: 1;
}